<footer id="footer" class="container-fluid py-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-secondary">&copy; HUGUEB<p>2017–2025</p></small>
      </div>
  
      <div class="col-6 col-md">
        <h5>Contact</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="mailto:info@ztore.com">info@hugueb.com</a></li>
          <li class="text-secondary">TLF:+34 612-345-678</li>
          <li><a class="link-secondary" href="https://github.com/CodeURJC-FW-2024-25/webapp09/tree/main"><i class="bi bi-instagram"></i> hugueb</a></li>
          <li><a class="link-secondary" href="https://github.com/CodeURJC-FW-2024-25/webapp09/tree/main"><i class="bi bi-twitter-x"></i>hugueb_tw</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Our team</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Locations</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Privacity</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Terms and coditions</a></li>
        </ul>
      </div>
    </div>
  </footer>