<header>
        <nav class="navbar bg-dark border-bottom border-body"  data-bs-theme="dark" style="background-color: #37474f;">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #18dcff;" href="#"><i class="bi bi-mortarboard"></i> HUGUEB</a>
                <div class="d-flex">
                    <a class="btn btn-outline-light me-2" href="/">Log in</a>
                    <a class="btn btn-primary" href="/registerPage">Sign in</a>
                </div>
            </div>  
        </nav>        
</header>