<header>
    <nav class="navbar border-bottom border-body" style="background-color: #0f1f31; ">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:  #ffc107 ;" href="/"><i class="bi bi-mortarboard"></i> HUGUEB</a>
            <a class="navbar-brand" style="color:  #ffc107 ; font-size: 1.1rem;" href="#coursesSection"> Courses</a>
            <a class="navbar-brand" style="color:  #ffc107 ; font-size: 1.1rem;" href="#socialMedia"> Social media</a>
            <a class="navbar-brand" style="color:  #ffc107 ; font-size: 1.1rem;" href="#footer"> About us</a>
            <div class="d-flex">
                <a class="btn btn-outline-light me-2" href="/">Log in</a>
                <a class="btn btn-warning" href="/registerPage">Sign in</a>
            </div>
        </div>  
    </nav>        
</header>
