<div id="socialMedia">
    <div class="wrapper">
        <div class="button">
            <div class="icon"><i class="bi bi-facebook"></i></div>
            <span>Facebook</span>
        </div>
        <div class="button">
            <div class="icon"><i class="bi bi-whatsapp"></i></div>
            <span>Whatsapp</span>
        </div>
        <div class="button">
            <div class="icon"><i class="bi bi-instagram"></i></div>
            <span>Instagram</span>
        </div>
        <div class="button">
            <div class="icon"><i class="bi bi-twitter-x"></i></div>
            <span>X</span>
        </div>
    </div>
</div>